@tailwind base;

@tailwind components;

@tailwind utilities;

.message-container {
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.chat-message {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  margin-bottom: 10px;
  border-radius: 16px;
  padding: 12px 16px;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  align-self: flex-start;
  background-color: #E5E5EA;
}

.chat-message p {
  margin: 0;
}

.chat-message.bg-blue-500 {
  align-self: flex-end;
  background-color: #007AFF;
  color: #fff;
}
