@tailwind base;

@tailwind components;

@tailwind utilities;

.message-container {
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.chat-message {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  margin-bottom: 10px;
  border-radius: 16px;
  padding: 12px 16px;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  align-self: flex-start;
  background-color: #E5E5EA;
}

.chat-message p {
  margin: 0;
}

.chat-message.bg-blue-500 {
  align-self: flex-end;
  background-color: #007AFF;
  color: #fff;
}

/* Style for the form container */
.form-container {
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 30px;
  margin: 20px 0;
}

/* Style for the form title */
.form-title {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin-bottom: 15px;
}

/* Style for the form subtitle */
.form-subtitle {
  font-size: 14px;
  color: #666;
  margin-top: 15px;
  margin-bottom: 30px;
}

/* Style for the form input label */
.form-label {
  font-size: 14px;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}

/* Style for the form input */
.form-input {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  font-size: 14px;
  color: #333;
  margin-bottom: 30px;
}

/* Style for the form rating button */
.form-rating-button {
  background-color: #f2f2f2;
  color: #666;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 20px;
  margin-right: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  outline: none;
}

/* Style for the form rating button when selected */
.form-rating-button.selected {
  background-color: #333;
  color: #fff;
}

/* Style for the form category button */
.form-category-button {
  background-color: #f2f2f2;
  color: #666;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 20px;
  margin-right: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  outline: none;
}

/* Style for the form category button when selected */
.form-category-button.selected {
  background-color: #333;
  color: #fff;
}

/* Style for the form submit button */
.form-submit-button {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 20px;
  margin-top: 30px;
  cursor: pointer;
  outline: none;
}

/* Style for the form submit button when disabled */
.form-submit-button[disabled] {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

/* Style for the form error message */
.form-error-message {
  color: #f00;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 15px;
}
.custom-bg {
  @apply bg-fixed bg-cover;
  background-color: #f2f2f2;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23f2f2f2' cx='50' cy='0' r='50'/%3E%3Cg fill='%23e0e0e0' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23cccccc' cx='50' cy='100' r='50'/%3E%3Cg fill='%23b8b8b8' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a4a4a4' cx='50' cy='200' r='50'/%3E%3Cg fill='%23909090' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%237c7c7c' cx='50' cy='300' r='50'/%3E%3Cg fill='%23686868' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23545454' cx='50' cy='400' r='50'/%3E%3Cg fill='%23404040' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%232c2c2c' cx='50' cy='500' r='50'/%3E%3Cg fill='%23181818' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23040404' cx='50' cy='600' r='50'/%3E%3Cg fill='%23000000' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23040404' cx='50' cy='700' r='50'/%3E%3Cg fill='%23181818' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%232c2c2c' cx='50' cy='800' r='50'/%3E%3Cg fill='%23404040' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23545454' cx='50' cy='900' r='50'/%3E%3Cg fill='%23686868' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%237c7c7c' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
}


@keyframes gravity {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}
