.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 3.5rem;
}

.iconContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.inputContainer {
  position: absolute;
  top: 0;
  left: 3.5rem;
  width: calc(100% - 3.5rem);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: transform 0.3s ease-out;
  transform: translateX(-100%);
}

.showInput {
  transform: translateX(0);
}

.label {
  margin-right: 0.5rem;
}

.input {
  margin-right: 1rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button {
  color: #fff;
  --tw-bg-opacity: 1;
  background-color: rgb(129 140 248 / var(--tw-bg-opacity));
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: rgb(129 140 248 / 0.8);
}
